### Actualizaci贸n e importaci贸n

In [ ]:
# Actualizaci贸n de Sklearn para luego poder importar librerias. 
# ATENCION: escribir 'y' y luego enter en el input que aparece.
# ATENCION: si aparece WARNING en rojo, correr la celda siguiente (exit()).

#!pip uninstall scikit-learn
#!pip install scikit-learn==0.24.1

In [ ]:
# Celda en caso de ver "warning" en rojo (restart runtime)
#exit()

In [ ]:
# Importaci贸n de pandas y numpy
import pandas as pd
import numpy as np

### Exploracion

In [ ]:
# Lectura del dataset 

df = pd.read_csv('/content/drive/MyDrive/ML_Desafio/Entrenamieto_ECI_2020.csv')

In [ ]:
# Algunas columnas y valores tienen espacios y comas. Los quito o reemplazo por guiones bajos.

df = df.replace(' ','_', regex=True)
df = df.replace(',','_', regex=True)
df.columns = df.columns.str.replace("[ ]", "")
df.columns = df.columns.str.replace("[,]", "_")
df.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed_Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed_Won  Prod_Category_A_None
2  27446  Americas  ...   Closed_Won  Prod_Category_A_None
3  16808  Americas  ...  Closed_Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed_Lost  Prod_Category_A_None

[5 rows x 52 columns]

### Tratamiento de datos faltantes

In [ ]:
# Comienzo con ASP. Debido a la presencia de Outliers, escojo la estrategia de imputar por la mediana.

# Importo la funcion
from sklearn.impute import SimpleImputer

# Separo la variable a imputar
variable = df[['ASP']]

# Imputo con la mediana
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(variable[['ASP']])
variable = imputer.transform(variable[['ASP']]) 


# Print de media, mediana max y min de la variable imputada y la original para evaluar que sean similares. 
print(variable.mean())
print(df['ASP'].mean())
print('-----')
print(np.median(variable))
print(df['ASP'].median())
print('-----')
print(variable.max())
print(df['ASP'].max())
print('-----')
print(variable.min())
print(df['ASP'].min())
print('-----')
print(variable.std())
print(df['ASP'].std())

5.760088410928188
7.012128279225431
-----
0.4
0.4
-----
80.0
80.0
-----
0.0
0.0
-----
17.1751555759083
18.858359011841536

In [ ]:
# Imputo la variable original
df['ASP'] = variable

In [ ]:
# Continuo con ASP_(converted). Debido a la presencia de outliers, escojo la estrategia de imputar por la mediana.

# Separo la variable a imputar
variable = df[['ASP_(converted)']]


# Imputo con la mediana
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(variable[['ASP_(converted)']])
variable = imputer.transform(variable[['ASP_(converted)']]) 


# printeo media, mediana max y min de la variable imputada y la original para evaluar que sean similares
print(variable.mean())
print(df['ASP_(converted)'].mean())
print('-----')
print(np.median(variable))
print(df['ASP_(converted)'].median())
print('-----')
print(variable.max())
print(df['ASP_(converted)'].max())
print('-----')
print(variable.min())
print(df['ASP_(converted)'].min())
print('-----')
print(variable.std())
print(df['ASP_(converted)'].std())

0.42882270844397236
0.4325537043237735
-----
0.41285
0.41285
-----
67.0
67.0
-----
0.0
0.0
-----
0.6830834450581397
0.7586587830665257

In [ ]:
# Imputo la variable original

df['ASP_(converted)'] = variable

In [ ]:
# Elimino el resto de las filas con datos faltantes

df.dropna(inplace = True)

In [ ]:
# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.

nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(inplace=True)

In [ ]:
df.shape

(16888, 52)

# Feature Engineering: binning y drop.

# Binning

In [ ]:
# Transformacion de la variable objetivo/a predecir en dummy numerica.

# Primero drop de todo lo que no sea closed_won o closed_lost.
df = df.query('Stage == "Closed_Won" or Stage == "Closed_Lost"')

# Transformo la variable target a una dummy numerica.
array = df['Stage'].copy()
target = []

for i,v in enumerate(array):
    if v == 'Closed_Won':
       target.append(1)
    elif v == 'Closed_Lost':
      target.append(0)

# Me aseguro de haber tranformado los "Won" en 1 y los "Lost" en 0
print(df['Stage'].value_counts())

print(pd.DataFrame(target).value_counts())

Closed_Won     9532
Closed_Lost    7292
Name: Stage, dtype: int64
1    9532
0    7292
dtype: int64

In [ ]:
# Actualizo la variable target

df['Stage'] = target

In [ ]:
# Transformo la variable Brand a una dummy.

target = df['Brand'].copy()


for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

target.value_counts()

0       15788
1        1036
None      123
Name: Brand, dtype: int64

In [ ]:
# Actualizo la variable

df['Brand'] = target

In [ ]:
# Transformo la variable Product_Type a una dummy.

target = df['Product_Type'].copy()


for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Product_Type'].value_counts())
print('------')
print(target.value_counts())

None              15812
Other               515
Product_Type_3      179
Product_Type_1      142
Product_Type_0       94
Product_Type_4       73
Product_Type_2        9
Name: Product_Type, dtype: int64
------
0       15812
1        1012
None      123
Name: Product_Type, dtype: int64

In [ ]:
# Actualizo la variable

df['Product_Type'] = target

In [ ]:
# Transformo la variable Size a una dummy numerica.

target = df['Size'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Size'].value_counts())
print('------')
print(target.value_counts())

None      15844
Other       394
Size_3      356
Size_4      196
Size_1       25
Size_0        7
Size_2        2
Name: Size, dtype: int64
------
0       15844
1         980
None      123
Name: Size, dtype: int64

In [ ]:
# transformo la variable

df['Size'] = target

In [ ]:
# Transformo la variable Product_Category_B a una dummy numerica.

target = df['Product_Category_B'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Product_Category_B'].value_counts())
print('------')
print(target.value_counts())

None                     15805
Other                      523
Product_Category_B_2        59
Product_Category_B_12       51
Product_Category_B_7        47
Product_Category_B_4        37
Product_Category_B_5        36
Product_Category_B_17       27
Product_Category_B_1        24
Product_Category_B_8        23
Product_Category_B_3        23
Product_Category_B_19       22
Product_Category_B_11       21
Product_Category_B_13       18
Product_Category_B_9        17
Product_Category_B_16       17
Product_Category_B_24       16
Product_Category_B_20        9
Product_Category_B_6         9
Product_Category_B_15        8
Product_Category_B_21        8
Product_Category_B_23        5
Product_Category_B_26        4
Product_Category_B_14        4
Product_Category_B_27        3
Product_Category_B_0         3
Product_Category_B_10        3
Product_Category_B_22        2
Name: Product_Category_B, dtype: int64
------
0       15805
1        1019
None      123
Name: Product_Category_B, dtype: int64

In [ ]:
# Actualizo la variable

df['Product_Category_B'] = target

In [ ]:
# Transformo la variable Price a una dummy.

target = df['Price'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Price'].value_counts())
print('------')
print(target.value_counts())

None     15859
Other      609
0.24        27
0.41        22
0.28        20
0.27        18
0.29        17
0.32        15
0.35        14
0.38        14
0.23        13
0.33        12
0.42        12
0.26        11
0.34        11
0.3         11
0.31        10
0.245        8
0.25         7
0.305        7
0.335        6
0.47         6
0.325        6
0.45         6
0.225        6
0.39         6
0.22         6
0.2          5
0.37         4
0.275        4
0.36         4
0.445        4
0.285        4
0.265        3
0.295        3
0.255        3
0.355        3
0.345        2
0.315        2
0.56         2
0.48         2
0.235        2
0.375        2
0.505        2
0.215        2
0.49         2
0.4          2
0.44         2
0.52         2
0.365        1
0.55         1
0.465        1
0.21         1
Name: Price, dtype: int64
------
0       15859
1         965
None      123
Name: Price, dtype: int64

In [ ]:
# Actualizo la variable

df['Price'] = target

### Drop

In [ ]:
# Drop de las columnas que no aportan valor predictivo.

# ID: porque es un numero para ubicar la observacion, y ya contamos con el index
# Account_Name: porque son 908 variables categoricas que en principio no aportan nada, ya contamos con el index
# Opportunity_Name: porque son 4139 variables categoricas que en principio no aportan nada, ya contamos con el index
# Opportunity_ID: porque son 4139 variables categoricas que en principio no aportan nada, ya contamos con el index
# Last_Activity: por tener un solo valor.
# Submitted_for_Approval: por tener un solo valor.
# ASP_(converted)_Currency: por tener un solo valor
# Actual_Delivery_Date: por tener un solo valor
# Prod_Category_A: por tener un solo valor.
# Delivery_Year: porque son a帽os que ya pasaron, no sirven al momento de llevar el modelo al mundo real actual.



df.drop(['Submitted_for_Approval', 'Account_Name','Opportunity_Name','Last_Activity',
         'ASP_(converted)_Currency','Actual_Delivery_Date','Prod_Category_A','Opportunity_ID','Delivery_Year'], axis=1, inplace=True)

### Binning de variables categ贸ricas

In [ ]:
# Creo una lista con las variables a agrupar a partir de lo explorado visualmente
# IMPORTANTE: deben estar en mismo orden que en el diccionario (ver siguientes dos celdas)

agrupar = ['Territory','Account_Owner','Opportunity_Type','Last_Modified_By','Product_Family',
           'Sales_Contract_No','Source','Billing_Country','Opportunity_Owner','Product_Name']

In [ ]:
# Diccionario
dictionary = {
    'Territory':50,
    'Account_Owner':37,
    'Opportunity_Type':14,
    'Last_Modified_By':45,
    'Product_Family':59,
    'Sales_Contract_No':3,
    'Source':10,
    'Billing_Country':49,
    'Opportunity_Owner':47,
    'Product_Name':208

}

In [ ]:
# Agrupacion de categoricas:
for i,v in enumerate(agrupar):
    name = agrupar[i]
    var = df[name]
    indice = dictionary[name]
    lista = []

    for i in var.value_counts().index[0:indice]:
        lista.append(i)

    new_var = np.where(var.isin(lista),var, 'Otro')
    new_var1 = pd.DataFrame(new_var)
    print(new_var1)
    print(new_var1.value_counts())
    print('\n')
    # una vez evaluado (con el print) que el binning se realizo correctamente, agrego la siguiente linea:
    df[name] = new_var

                0
0            None
1            None
2      NW_America
3      NW_America
4      NW_America
...           ...
16819     Austria
16820     Austria
16821     Austria
16822  NE_America
16823  NE_America

[16824 rows x 1 columns]
None               4969
Germany            1682
NW_America         1538
Australia          1201
India               807
NE_America          758
Japan               674
Netherlands         532
SE_America          488
France              448
Singapore           441
United_Kingdom      313
Belgium             285
Italy               283
Spain               268
Central_US          254
China_(PRC)         218
SW_America          205
Thailand            173
Indonesia           150
Austria             145
Jordan              100
Philippines          95
Canada               74
Luxembourg           70
Portugal             66
Otro                 61
Poland               59
Vietnam              51
Cyprus               44
New_Zealand          38
Denmark              38
Taiwan               33
Carribean            31
Turkey               29
UAE_(Dubai)          28
Hungary              28
Switzerland          21
Norway               19
South_Korea          15
KSA                  13
Sweden               12
Ireland               9
Greece                9
Central_America       8
Estonia               8
South_America         8
Kazakhstan            7
Pakistan              6
Macedonia             6
Malta                 6
dtype: int64


                    0
0      Person_Name_51
1      Person_Name_51
2      Person_Name_64
3       Person_Name_8
4       Person_Name_8
...               ...
16819  Person_Name_13
16820  Person_Name_13
16821  Person_Name_13
16822   Person_Name_3
16823   Person_Name_3

[16824 rows x 1 columns]
Person_Name_50    3719
Person_Name_13    1325
Person_Name_8     1282
Person_Name_43    1234
Person_Name_18    1093
Person_Name_3      867
Person_Name_32     679
Person_Name_4      661
Person_Name_65     625
Person_Name_64     552
Person_Name_16     439
Person_Name_46     381
Person_Name_45     357
Person_Name_2      333
Person_Name_38     322
Person_Name_42     304
Person_Name_66     252
Person_Name_60     226
Person_Name_59     201
Person_Name_49     200
Person_Name_62     179
Person_Name_54     178
Person_Name_52     172
Person_Name_21     166
Person_Name_5      152
Person_Name_63     135
Person_Name_55     129
Person_Name_51     108
Person_Name_39     104
Person_Name_33      86
Person_Name_14      74
Person_Name_61      69
Person_Name_41      51
Person_Name_9       50
Person_Name_44      50
Otro                43
Person_Name_58      14
Person_Name_26      12
dtype: int64


                         0
0       Opportunity_Type_1
1       Opportunity_Type_1
2       Opportunity_Type_1
3      Opportunity_Type_19
4      Opportunity_Type_19
...                    ...
16819   Opportunity_Type_1
16820   Opportunity_Type_1
16821   Opportunity_Type_1
16822   Opportunity_Type_1
16823  Opportunity_Type_19

[16824 rows x 1 columns]
Opportunity_Type_1     6758
Opportunity_Type_7     5760
Opportunity_Type_19    1855
Opportunity_Type_8     1452
Opportunity_Type_12     278
Opportunity_Type_3      274
Opportunity_Type_20     173
Opportunity_Type_2       69
Otro                     58
Opportunity_Type_4       50
Opportunity_Type_10      34
Opportunity_Type_9       23
Opportunity_Type_14      15
Opportunity_Type_5       14
Opportunity_Type_18      11
dtype: int64


                    0
0      Person_Name_18
1      Person_Name_20
2       Person_Name_8
3       Person_Name_8
4       Person_Name_8
...               ...
16819  Person_Name_13
16820  Person_Name_13
16821  Person_Name_13
16822   Person_Name_3
16823   Person_Name_3

[16824 rows x 1 columns]
Person_Name_47    8514
Person_Name_50    1202
Person_Name_43     581
Person_Name_13     576
Person_Name_8      489
Person_Name_18     438
Person_Name_33     429
Person_Name_19     395
Person_Name_3      392
Person_Name_4      312
Person_Name_6      259
Person_Name_16     247
Person_Name_32     245
Person_Name_41     237
Person_Name_64     224
Person_Name_39     184
Person_Name_46     171
Person_Name_2      146
Person_Name_49     138
Person_Name_40     118
Person_Name_66     114
Person_Name_38     114
Person_Name_51      94
Person_Name_62      93
Person_Name_60      91
Person_Name_48      90
Person_Name_23      87
Person_Name_5       82
Person_Name_59      74
Person_Name_65      74
Person_Name_54      69
Person_Name_44      64
Person_Name_55      63
Person_Name_14      61
Person_Name_52      51
Person_Name_63      50
Person_Name_45      44
Person_Name_61      39
Person_Name_11      36
Otro                31
Person_Name_31      27
Person_Name_20      21
Person_Name_26      21
Person_Name_30      14
Person_Name_25      12
Person_Name_12      11
dtype: int64


                        0
0       Product_Family_77
1       Product_Family_77
2                    Otro
3      Product_Family_209
4      Product_Family_209
...                   ...
16819   Product_Family_85
16820   Product_Family_85
16821   Product_Family_85
16822  Product_Family_158
16823  Product_Family_164

[16824 rows x 1 columns]
Otro                  1337
Product_Family_77     1323
Product_Family_133    1249
Product_Family_132     760
Product_Family_212     629
Product_Family_100     619
Product_Family_85      594
Product_Family_115     540
Product_Family_226     524
Product_Family_109     499
Product_Family_208     474
Product_Family_4       474
Product_Family_128     436
Product_Family_116     421
Product_Family_164     396
Product_Family_140     385
Product_Family_209     380
Product_Family_230     350
Product_Family_29      341
Product_Family_127     297
Product_Family_139     278
Product_Family_20      266
Product_Family_213     257
Product_Family_121     246
Product_Family_170     238
Product_Family_193     233
Product_Family_73      216
Product_Family_158     201
Product_Family_201     180
Product_Family_24      167
Product_Family_0       165
Product_Family_204     162
Product_Family_23      157
Product_Family_111     140
Product_Family_215     132
Product_Family_6       121
Product_Family_10      116
Product_Family_125     113
Product_Family_110     113
Product_Family_129     101
Product_Family_203      99
Product_Family_173      95
Product_Family_60       94
Product_Family_61       87
Product_Family_26       82
Product_Family_25       77
Product_Family_168      74
Product_Family_118      66
Product_Family_114      61
Product_Family_117      54
Product_Family_240      49
Product_Family_19       48
Product_Family_27       46
Product_Family_184      40
Product_Family_202      39
Product_Family_17       39
Product_Family_231      37
Product_Family_126      36
Product_Family_161      36
Product_Family_216      35
dtype: int64


          0
0      None
1      Otro
2      Otro
3      None
4      None
...     ...
16819  Otro
16820  Otro
16821  Otro
16822  None
16823  None

[16824 rows x 1 columns]
Otro    9902
None    6850
479       36
108       36
dtype: int64


               0
0           None
1           None
2       Source_7
3      Source_11
4      Source_11
...          ...
16819   Source_7
16820   Source_7
16821   Source_7
16822       None
16823       None

[16824 rows x 1 columns]
None         9411
Source_7     2941
Source_9     1455
Source_11    1419
Source_13     783
Source_3      414
Source_1      137
Source_10     106
Source_2       86
Source_4       43
Otro           29
dtype: int64


                   0
0        Netherlands
1        Netherlands
2      United_States
3      United_States
4      United_States
...              ...
16819        Austria
16820        Austria
16821        Austria
16822  United_States
16823  United_States

[16824 rows x 1 columns]
Japan                                     4848
United_States                             3761
Germany                                   1974
Australia                                 1164
India                                      671
Netherlands                                563
Singapore                                  426
France                                     396
Spain                                      315
Italy                                      295
United_Kingdom                             284
Belgium                                    226
China                                      222
Thailand                                   193
Austria                                    145
Indonesia                                  138
Luxembourg                                 136
Philippines                                131
Canada                                     120
Sri_Lanka                                  105
Jordan                                     104
Otro                                        56
Poland                                      52
Cyprus                                      46
New_Zealand                                 39
United_Arab_Emirates                        38
Viet_Nam                                    37
Norway                                      37
Taiwan                                      34
Portugal                                    27
Switzerland                                 26
None                                        25
Pakistan                                    20
Turkey                                      17
Puerto_Rico                                 14
Korea__Democratic_People's_Republic_of      13
South_Africa                                13
Ireland                                     13
Hungary                                     13
Lebanon                                     10
Denmark                                     10
Czech_Republic                              10
Greece                                       9
Saudi_Arabia                                 9
French_Southern_Territories                  8
Sweden                                       8
Malta                                        7
Brazil                                       6
Egypt                                        5
Korea__Republic_of                           5
dtype: int64


                    0
0      Person_Name_18
1      Person_Name_20
2       Person_Name_8
3       Person_Name_8
4       Person_Name_8
...               ...
16819  Person_Name_13
16820  Person_Name_13
16821  Person_Name_13
16822   Person_Name_3
16823   Person_Name_3

[16824 rows x 1 columns]
Person_Name_50    3773
Person_Name_8     1402
Person_Name_13    1252
Person_Name_18     982
Person_Name_43     831
Person_Name_3      827
Person_Name_4      684
Person_Name_32     678
Person_Name_19     615
Person_Name_64     508
Person_Name_16     446
Person_Name_23     422
Person_Name_46     329
Person_Name_65     322
Person_Name_49     285
Person_Name_48     256
Person_Name_38     250
Person_Name_66     238
Person_Name_44     227
Person_Name_39     211
Person_Name_60     206
Person_Name_62     174
Person_Name_52     173
Person_Name_54     171
Person_Name_5      155
Person_Name_59     134
Person_Name_45     128
Person_Name_2      118
Person_Name_41     113
Person_Name_51     111
Person_Name_33      87
Person_Name_55      83
Person_Name_14      82
Person_Name_11      76
Person_Name_30      68
Person_Name_63      64
Person_Name_40      50
Person_Name_25      49
Person_Name_20      48
Person_Name_22      43
Person_Name_26      33
Otro                25
Person_Name_37      21
Person_Name_42      19
Person_Name_12      19
Person_Name_34      14
Person_Name_29      11
Person_Name_61      11
dtype: int64


                      0
0       Product_Name_99
1      Product_Name_100
2       Product_Name_91
3      Product_Name_432
4      Product_Name_432
...                 ...
16819  Product_Name_111
16820  Product_Name_111
16821  Product_Name_111
16822  Product_Name_287
16823  Product_Name_307

[16824 rows x 1 columns]
Product_Name_100    973
Product_Name_226    836
Otro                764
Product_Name_231    577
Product_Name_491    524
                   ...
Product_Name_368     10
Product_Name_18      10
Product_Name_155     10
Product_Name_5       10
Product_Name_455     10
Length: 209, dtype: int64

In [ ]:
# Realizo una copia para luego copiar la agrupacion con el df de validacion.
df_agrupadas = df.copy()
df_agrupadas.drop('Stage', axis=1, inplace=True)

# Realizo lo mismo con el df de Validacion

In [ ]:
# Lectura del dataset 

df = pd.read_csv('/content/drive/MyDrive/ML_Desafio/Validacion_ECI_2020.csv')

In [ ]:
# Algunas columnas y valores tienen espacios y comas. Los quito o reemplazo por guiones bajos.

df = df.replace(' ','_', regex=True)
df = df.replace(',','_', regex=True)
df.columns = df.columns.str.replace("[ ]", "")
df.columns = df.columns.str.replace("[,]", "_")
df.head()

     ID Region  ... Total_Taxable_Amount       Prod_Category_A
0  6140   EMEA  ...             367419.0  Prod_Category_A_None
1  6146   EMEA  ...             367419.0  Prod_Category_A_None
2  6151   EMEA  ...             367419.0  Prod_Category_A_None
3  6118   EMEA  ...             757783.5  Prod_Category_A_None
4  6124   EMEA  ...             757783.5  Prod_Category_A_None

[5 rows x 51 columns]

In [ ]:
# Comienzo con ASP. Debido a la presencia de Outliers, escojo la estrategia de imputar por la mediana.

# Importo la funcion
from sklearn.impute import SimpleImputer

# Separo la variable a imputar
variable = df[['ASP']]

# Imputo con la mediana
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(variable[['ASP']])
variable = imputer.transform(variable[['ASP']]) 


# Print de media, mediana max y min de la variable imputada y la original para evaluar que sean similares. 
print(variable.mean())
print(df['ASP'].mean())
print('-----')
print(np.median(variable))
print(df['ASP'].median())
print('-----')
print(variable.max())
print(df['ASP'].max())
print('-----')
print(variable.min())
print(df['ASP'].min())
print('-----')
print(variable.std())
print(df['ASP'].std())

2.450531164249314
2.5217126064045443
-----
0.36
0.36
-----
66.0
66.0
-----
0.0
0.0
-----
8.99366656785215
9.138935649109033

In [ ]:
# Imputo la variable original
df['ASP'] = variable

In [ ]:
# Continuo con ASP_(converted). Debido a la presencia de outliers, escojo la estrategia de imputar por la mediana.

# Separo la variable a imputar
variable = df[['ASP_(converted)']]


# Imputo con la mediana
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer.fit(variable[['ASP_(converted)']])
variable = imputer.transform(variable[['ASP_(converted)']]) 


# printeo media, mediana max y min de la variable imputada y la original para evaluar que sean similares
print(variable.mean())
print(df['ASP_(converted)'].mean())
print('-----')
print(np.median(variable))
print(df['ASP_(converted)'].median())
print('-----')
print(variable.max())
print(df['ASP_(converted)'].max())
print('-----')
print(variable.min())
print(df['ASP_(converted)'].min())
print('-----')
print(variable.std())
print(df['ASP_(converted)'].std())

0.3730060329282634
0.37344888123226627
-----
0.36
0.36
-----
40.71938
40.71938
-----
0.0
0.0
-----
0.8021581440216438
0.8158620767525693

In [ ]:
# Imputo la variable original

df['ASP_(converted)'] = variable

In [ ]:
# Elimino el resto de las filas con datos faltantes

df.dropna(inplace = True)

In [ ]:
# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.

nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(inplace=True)

In [ ]:
df.shape

(2551, 51)

In [ ]:
# Transformo la variable Brand a una dummy.

target = df['Brand'].copy()


for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

target.value_counts()

0    2182
1     369
Name: Brand, dtype: int64

In [ ]:
# Actualizo la variable

df['Brand'] = target

In [ ]:
# Transformo la variable Product_Type a una dummy.

target = df['Product_Type'].copy()


for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Product_Type'].value_counts())
print('------')
print(target.value_counts())

None              2187
Other              158
Product_Type_1     113
Product_Type_4      34
Product_Type_0      28
Product_Type_3      25
Product_Type_2       6
Name: Product_Type, dtype: int64
------
0    2187
1     364
Name: Product_Type, dtype: int64

In [ ]:
# Actualizo la variable

df['Product_Type'] = target

In [ ]:
# Transformo la variable Size a una dummy numerica.

target = df['Size'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Size'].value_counts())
print('------')
print(target.value_counts())

None      2190
Size_3     175
Size_4      87
Other       84
Size_0      10
Size_1       5
Name: Size, dtype: int64
------
0    2190
1     361
Name: Size, dtype: int64

In [ ]:
# actualizo la variable

df['Size'] = target

In [ ]:
# Transformo la variable Product_Category_B a una dummy numerica.

target = df['Product_Category_B'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Product_Category_B'].value_counts())
print('------')
print(target.value_counts())

None                     2190
Other                     177
Product_Category_B_11      36
Product_Category_B_7       17
Product_Category_B_24      17
Product_Category_B_23      12
Product_Category_B_5       12
Product_Category_B_4       11
Product_Category_B_9       10
Product_Category_B_3        8
Product_Category_B_14       8
Product_Category_B_10       8
Product_Category_B_6        6
Product_Category_B_22       6
Product_Category_B_21       5
Product_Category_B_17       4
Product_Category_B_16       4
Product_Category_B_13       4
Product_Category_B_1        3
Product_Category_B_2        3
Product_Category_B_8        3
Product_Category_B_12       2
Product_Category_B_19       2
Product_Category_B_20       1
Product_Category_B_25       1
Product_Category_B_15       1
Name: Product_Category_B, dtype: int64
------
0    2190
1     361
Name: Product_Category_B, dtype: int64

In [ ]:
# Actualizo la variable

df['Product_Category_B'] = target

In [ ]:
# Transformo la variable Price a una dummy.

target = df['Price'].copy()

for i,v in enumerate(target):

    if v == 'None':
       target[i] = 0
       
    elif v != 'None':
      target[i] = 1

print(df['Price'].value_counts())
print('------')
print(target.value_counts())

None     2193
Other     198
0.37       20
0.225      11
0.235      11
0.4        11
0.26       10
0.28        8
0.29        7
0.27        6
0.25        6
0.32        6
0.35        6
0.255       5
0.23        5
0.38        4
0.24        4
0.245       3
0.305       3
0.275       3
0.435       3
0.45        3
0.44        2
0.5         2
0.22        2
0.41        2
0.2         2
0.3         2
0.295       1
0.48        1
0.49        1
0.355       1
0.36        1
0.405       1
0.325       1
0.31        1
0.205       1
0.42        1
0.285       1
0.33        1
0.46        1
Name: Price, dtype: int64
------
0    2193
1     358
Name: Price, dtype: int64

In [ ]:
# Actualizo la variable

df['Price'] = target

In [ ]:
# Drop de las columnas que no aportan valor predictivo.

# Account_Name: porque son 908 variables categoricas que en principio no aportan nada, ya contamos con el index
# Opportunity_Name: porque son 4139 variables categoricas que en principio no aportan nada, ya contamos con el index
# Last_Activity: por tener un solo valor.
# Submitted_for_Approval: por tener un solo valor.
# ASP_(converted)_Currency: por tener un solo valor
# Actual_Delivery_Date: por tener un solo valor
# Prod_Category_A: por tener un solo valor.
# Delivery_Year: porque son a帽os que ya pasaron, no sirven al momento de llevar el modelo al mundo real actual.



df.drop(['Submitted_for_Approval', 'Account_Name','Opportunity_Name','Last_Activity',
         'ASP_(converted)_Currency','Actual_Delivery_Date','Prod_Category_A','Delivery_Year'], axis=1, inplace=True)

# Copiar binning de categoricas del df de entrenamiento

In [ ]:
# Copiado del binning categorico

for i in agrupar:
    df_var = df[i]
    df_agrupadas_var = df_agrupadas[i]
    lista = []

    for i2 in df_var.values:
        if i2 in df_agrupadas_var.values:
           lista.append(i2)
        else:
          lista.append('Otro')

    df[i] = lista

In [ ]:
# Evaluo haberlo hecho correctamente
for i in agrupar:
    df_var = df[i]
    df_agrupadas_var = df_agrupadas[i]


    for i in df_var.values:
        if i in df_agrupadas_var.values:
           2+2
        else:
          print(i)

### Feature Engineering: variables con fechas

In [ ]:
# Defino un dataframe de las variables con fechas. Evaluo con head() si inclui todas.

df_dates = ['Account_Created_Date','Opportunity_Created_Date','Quote_Expiry_Date',
            'Last_Modified_Date','Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
            'Month']

df_dates = df[df_dates]

df_not_dates = df.drop(df_dates, axis=1)

## Transformaci贸n

In [ ]:
# Cambio la variable "Month" y la varible "Delivery_Year" a variables categoricas. Las transformo, las quito de 
# df_dates y las vuelvo a incluir en el df original.


# De la variable "Month", me quedo solo con el mes.

month = df_dates[['Month']]
new_month = []
for i,v in enumerate(month.values):
    val = v[0][-1]
    new_month.append('Month_'+val)

In [ ]:
# Lo tranformo a DataFrame
new_month = pd.DataFrame(new_month, columns=['Month_cat'])

In [ ]:
# Actualizo la variable "Month" en el df original.

df['Month'] = new_month['Month_cat']

# Y le cambio el nombre a "Month_cat"

df.rename(columns={'Month': 'Month_cat'}, inplace=True)

In [ ]:
# Ahora, creo la varible Month_num

month = df_dates[['Month']]
new_month = []
for i,v in enumerate(month.values):
    val = v[0][-1]
    val = int(val)
    new_month.append(val)


# Transformacion a DF
new_month = pd.DataFrame(new_month, columns=['Month_num'])

# Agrego la variable "Month_num" al df original.

df['Month_num'] = new_month['Month_num']
df.head()

     ID Region  ... Total_Taxable_Amount  Month_num
0  6140   EMEA  ...             367419.0          5
1  6146   EMEA  ...             367419.0          5
2  6151   EMEA  ...             367419.0          5
3  6118   EMEA  ...             757783.5          6
4  6124   EMEA  ...             757783.5          6

[5 rows x 44 columns]

In [ ]:
# Elimino la var 'Month' del df_dates

df_dates.drop('Month', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## Imputaci贸n

In [ ]:
# Imputacion de NaT
# Defino las variables a imputar
imputar = ['Quote_Expiry_Date','Planned_Delivery_End_Date']

# Las guardo en otro DF por si cometo errores.
df_dates1 = df_dates[imputar]

In [ ]:
# Imputo Quote_Expiry_Date por su valor mas cercano

lista = []
for i,v in enumerate(df_dates1['Quote_Expiry_Date'].values):

    if v != 'NaT':
       lista.append(v)
    
    elif v == 'NaT':
      ind = i

      while v == 'NaT':
            ind = ind-1
            v = df_dates1['Quote_Expiry_Date'].values[ind]
            
      lista.append(df_dates1['Quote_Expiry_Date'].values[ind])

    else:
      print(i)  
       
df_dates1['Quote_Expiry_Date'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Imputo Planned_Delivery_End_Date por su valor mas cercano

lista = []
for i,v in enumerate(df_dates1['Planned_Delivery_End_Date'].values):

    if v != 'NaT':
       lista.append(v)
    
    elif v == 'NaT':
      ind = i

      while v == 'NaT':
            ind = ind-1
            v = df_dates1['Planned_Delivery_End_Date'].values[ind]
            
      lista.append(df_dates1['Planned_Delivery_End_Date'].values[ind])

    else:
      print(i)  
       
df_dates1['Planned_Delivery_End_Date'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Reemplazo las variables originales por las imputadas

df_dates['Quote_Expiry_Date'] = df_dates1['Quote_Expiry_Date']
df_dates['Planned_Delivery_End_Date'] = df_dates1['Planned_Delivery_End_Date']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## Feature Engineering

In [ ]:
# Transformo todo a DateTime

for i in df_dates.columns:
    df_dates[i] = pd.to_datetime(df_dates[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# Amplitud_fecha_entrega 

# Creo la columna 'Amplitud_fecha_entrega'
df_dates['Amplitud_fecha_entrega'] = df_dates['Planned_Delivery_End_Date'] - df_dates['Planned_Delivery_Start_Date']


# Elimino la palabra "days" y transformo a int
array = df_dates['Amplitud_fecha_entrega']
lista = []

for i,v in enumerate(array):
    val = str(v)
    val = val.split(' ')
    val = int(val[0])
    lista.append(val)


#Actualizo la variable en df_dates

df_dates['Amplitud_fecha_entrega'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Amplitud_cuenta_oportunidad.

df_dates['Amplitud_cuenta_oportunidad'] = df_dates['Opportunity_Created_Date'] - df_dates['Account_Created_Date']


# Elimino la palabra "days" y transformo a int
array = df_dates['Amplitud_cuenta_oportunidad']
lista = []

for i,v in enumerate(array):
    val = str(v)
    val = val.split(' ')
    val = int(val[0])
    lista.append(val)


#Actualizo la variable en df_dates

df_dates['Amplitud_cuenta_oportunidad'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Amplitud_oportunidad_modificacion 

df_dates['Amplitud_oportunidad_modificacion'] = df_dates['Last_Modified_Date'] - df_dates['Opportunity_Created_Date']


# Elimino la palabra "days" y transformo a int
array = df_dates['Amplitud_oportunidad_modificacion']
lista = []

for i,v in enumerate(array):
    val = str(v)
    val = val.split(' ')
    val = int(val[0])
    lista.append(val)


#Actualizo la variable en df_dates

df_dates['Amplitud_oportunidad_modificacion'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Amplitud_oportunidad_max_entrega 

df_dates['Amplitud_oportunidad_max_entrega'] = df_dates['Planned_Delivery_End_Date'] - df_dates['Opportunity_Created_Date']


# Elimino la palabra "days" y transformo a int
array = df_dates['Amplitud_oportunidad_max_entrega']
lista = []

for i,v in enumerate(array):
    val = str(v)
    val = val.split(' ')
    val = int(val[0])
    lista.append(val)


#Actualizo la variable en df_dates

df_dates['Amplitud_oportunidad_max_entrega'] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Mes de cada evento
df_months = ['Account_Created_Date','Opportunity_Created_Date','Planned_Delivery_Start_Date','Planned_Delivery_End_Date']

for i in df_months:
    lista = []
    df_dates['Month_'+i] = ''
    for i2 in df_dates[i]:
        val = str(i2)
        val = val.split('-')[1]
        lista.append('Month_'+val)

    df_dates['Month_'+i] = lista

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

## Feature Engineering: Estacion

In [ ]:
# Selecciono las variables con informacion geografica
df_paises = df[['Billing_Country', 'Territory']].copy()

In [ ]:
# Drop de Territory
df_paises.drop('Territory', axis=1, inplace=True)

In [ ]:
# Evaluo que los valores sean iguales en ambos df

for i in df['Billing_Country'].values:
  if i in df_agrupadas['Billing_Country'].values:
    2+2
  else:
      print(i)

In [ ]:
# Agrego cada pais a su hemisferio

#Norte
hemisferio_norte = df_paises['Billing_Country'].unique().tolist()
eliminar = ['None','Otro','South_Africa','Australia','New_Zealand']
for i in eliminar:
    hemisferio_norte.remove(i)           

#Sur
hemisferio_sur = ['Australia','South_Africa','New_Zealand']

#Otro
hemisferio_none = ['Otro','None']

In [ ]:
# Creo columna con hemisferio

array = df_paises[['Billing_Country']]
lista = []

for i,v in enumerate(array.values):
    if array.iloc[i][0] in hemisferio_norte:
       lista.append('hemisferio_norte')

    elif array.iloc[i][0] in hemisferio_sur:
         lista.append('hemisferio_sur')

    elif array.iloc[i][0] in hemisferio_none:
         lista.append('Otro')
    else:
      print(v)
      print(i)
      print('---')

In [ ]:
# La agrego a df_paises

df_paises['hemisferio'] = lista

In [ ]:
# Agrego a df_paises aquellas fechas que me interesa evaluar en que estacion ocurrieron

df_paises['Account_Created_Date'] = df_dates['Account_Created_Date']
df_paises['Opportunity_Created_Date'] = df_dates['Opportunity_Created_Date']
df_paises['Planned_Delivery_End_Date'] = df_dates['Planned_Delivery_End_Date']

In [ ]:
# Genero una columna con la estacion en la cual se dio cada variable temporal de interes.

evaluar = ['Account_Created_Date', 'Opportunity_Created_Date', 'Planned_Delivery_End_Date']

for i1 in evaluar:
    aux = df_paises[i1]
    lista = []
    df_paises['Estacion_'+i1] = ''

    for i2,v in enumerate(aux):
        mes = aux.iloc[i2].month
        dia = aux.iloc[i2].day

        if df_paises['hemisferio'].values[i2] == 'hemisferio_norte':
           if ((mes == 12 and dia >= 21) or (mes >= 1 and mes < 3) or (mes == 3 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Invierno'

           elif ((mes == 3 and dia >= 21) or (mes >= 4 and mes < 6) or (mes == 6 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Primavera'

           elif ((mes == 6 and dia >= 21) or (mes >= 7 and mes < 9) or (mes == 9 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Verano'

           elif ((mes == 9 and dia >= 21) or (mes >= 10 and mes < 12) or (mes == 12 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Otonio'

           else:
             df_paises['Estacion_'+i1].values[i2] = 'Fuck'             


        
        elif df_paises['hemisferio'].values[i2] == 'hemisferio_sur':
           if ((mes == 12 and dia >= 21) or (mes >= 1 and mes < 3) or (mes == 3 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Verano'

           elif ((mes == 3 and dia >= 21) or (mes >= 4 and mes < 6) or (mes == 6 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Otonio'

           elif ((mes == 6 and dia >= 21) or (mes >= 7 and mes < 9) or (mes == 9 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Invierno'

           elif ((mes == 9 and dia >= 21) or (mes >= 10 and mes < 12) or (mes == 12 and dia < 21)):
              df_paises['Estacion_'+i1].values[i2] = 'Primavera'
           
           else:
             df_paises['Estacion_'+i1].values[i2] = 'Fuck'

        
        elif df_paises['hemisferio'].values[i2] == 'Otro':
             df_paises['Estacion_'+i1].values[i2] = 'Estacion_no_conocida'

In [ ]:
# Semana del mes
evaluar = ['Account_Created_Date', 'Opportunity_Created_Date']

for i1 in evaluar:
    lista = []
    df_dates['Semana_mes_'+i1] = ''

    for i2,v2 in enumerate(df_dates[i1].values):
        val = str(v2)
        val = val[8:10]
        val = int(val)

        if ((val >= 1) and (val <= 7)):
              df_dates['Semana_mes_'+i1].values[i2] = 'Primer_semana_mes'
        elif ((val >= 8) and (val <= 14)):
              df_dates['Semana_mes_'+i1].values[i2] = 'Segunda_semana_mes'
        elif ((val >= 15) and (val <= 21)):
              df_dates['Semana_mes_'+i1].values[i2] = 'Tercera_semana_mes'
        elif ((val >= 22) and (val <= 31)):
              df_dates['Semana_mes_'+i1].values[i2] = 'Cuarta_semana_mes'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Me quedo solo con las variables de Estacion creadas por mi
df_paises.drop(['Billing_Country','hemisferio','Account_Created_Date',
                'Opportunity_Created_Date','Planned_Delivery_End_Date',], axis=1, inplace=True)

In [ ]:
# Me quedo solo con las variables de fechas creadas por mi
df_dates.drop(['Account_Created_Date','Opportunity_Created_Date',
               'Last_Modified_Date','Planned_Delivery_Start_Date','Quote_Expiry_Date', 'Planned_Delivery_End_Date'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# Unifico ambos df para finalmente unirlos al df final
df_unificado = pd.concat([df_dates, df_paises], axis = 1)

In [ ]:
# Creo el df final
df1 = pd.concat([df, df_unificado], axis = 1)
df = df1.copy()

In [ ]:
# Drop de fechas exactas pasadas.
df.drop(['Account_Created_Date','Opportunity_Created_Date','Last_Modified_Date',
         'Quote_Expiry_Date','Planned_Delivery_Start_Date','Planned_Delivery_End_Date'],axis=1,inplace=True)

## Ultimas modificaciones

In [ ]:
'''
# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.

nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(inplace=True)
'''

'\n# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.\n\nnan_value = float("NaN")\ndf.replace("", nan_value, inplace=True)\ndf.dropna(inplace=True)\n'

In [ ]:
df.shape

(2551, 51)

# XGBoost, LightGBM, CatBoost.

In [ ]:

# Importaciones
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder
import scipy.stats as st
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from xgboost import plot_importance
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt
from sklearn.metrics import plot_confusion_matrix

In [ ]:
# Drop de la variable causante de Target Leakage
df.drop('Sales_Contract_No', axis=1, inplace=True)

In [ ]:
# Copia para degugear la siguiente celda
df_boost = df.copy()

In [ ]:
df_numericas.shape

(2551, 20)

In [ ]:
# Actualizo df sin onehotencodear
df = df_boost.copy()

# Drop de variables que obtuvieron Feature Importance 
#df.drop(to_drop, axis=1, inplace=True)


# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.

nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(inplace=True)


# Seleccion numericas
df_numericas = df.select_dtypes(include=['float64','int64'])

# Seleccion categoricas
df_cat = df.select_dtypes(include=['object'])

# Tranformacion de df_numericas a int.

df_prueba = df_numericas.copy()
columnas = df_prueba.columns

for i in columnas:
    for i2,v in enumerate(df_prueba[i].values):
        try:
            val = int(df_prueba[i].iloc[i2])
            df_prueba[i].iloc[i2] = val
        except:
          print(i)
          print(val)
          print(i2)

#Actualizo
df_numericas = df_prueba.copy()

# Unifico ambos df
df_unificado = pd.concat([df_cat, df_numericas], axis = 1)

# Actualizo el df
df = df_unificado.copy()

# Categoricas y numericas para realizar sus respectivas transformaciones

#Num
num_columns = df.select_dtypes(include=['float64','int64'])
dummys = ['Pricing_Delivery_Terms_Quote_Appr','Pricing_Delivery_Terms_Approved','Bureaucratic_Code_0_Approval',
          'Bureaucratic_Code_0_Approved','Brand','Product_Type','Size','Product_Category_B',
          'Price']
num_columns.drop(dummys, axis=1, inplace=True)          
num_columns.drop('Opportunity_ID', axis=1, inplace=True)
num_columns.drop('ID', axis=1, inplace=True)

#Cat
cat_columns = df.drop(num_columns, axis=1)
cat_columns.drop('Opportunity_ID', axis=1, inplace=True)
cat_columns.drop('ID', axis=1, inplace=True)

#Scaler
scaler = StandardScaler()

# Ordinal Encoder sobre las categoricas.
# Las categor铆as "nuevas" que aparezcan se imputan con el valor de unknown_value
o_encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=99999999)

#Escalamos las variables
scaled = scaler.fit_transform(num_columns)

# Generamos un dataframe con las variables escaladas
num_columns1 = pd.DataFrame(scaled, columns = num_columns.columns)
num_columns = num_columns1

# Dropeo de valores "NaN" ya que se encuentra en muchas variables numericas.

nan_value = float("NaN")
num_columns.replace("", nan_value, inplace=True)
num_columns.dropna(inplace=True)


# polynomial features sobre las variables num茅ricas
poly = PolynomialFeatures(2)
poly.fit_transform(num_columns)



# Dropeo de valores "NaN" ya que se encuentra en muchas variables categoricas.

nan_value = float("NaN")
cat_columns.replace("", nan_value, inplace=True)
cat_columns.dropna(inplace=True)


# Generamos ordinales con las variables categoricas (OrdinalEncoder)
result = o_encoder.fit_transform(cat_columns)
cat_columns1 = pd.DataFrame(result, columns=cat_columns.columns)
cat_columns = cat_columns1

# Vuelvo a agregar Stage a num_columns
num_columns['Opportunity_ID'] = df['Opportunity_ID']
num_columns['ID'] = df['ID']

# Actualizamos el df
df = pd.concat([num_columns, cat_columns],axis=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.shape

(2551, 50)

In [ ]:
# Finalmente lo transformo a CSV para predecir sus valores.

df.to_csv('df_validacion_final.csv')